{{!< default}}

{{#post}}

<article class="{{post_class}}">

    <div class="px-4 md:px-0 prose max-w-full default-grid">
      <div class="default-grid-item">
        {{> "feature_image"}}
        <h1 class="m-0 text-5xl">{{title}}</h1>
        {{#if custom_excerpt}}
          <h2 class="m-0">{{custom_excerpt}}</h2>
        {{/if}}
      </div>
      <div class="post-content col-start-1 col-end-6 default-grid">
        {{content}}
      </div>
    </div>

</article>

{{/post}}
