<div class="lg:!hidden">
  <div id="mobile-menu-open" class="">
    {{> "icons/bars"}}
  </div>

  <div id="mobile-menu" class="absolute w-screen h-screen backdrop-blur z-10 top-0 left-0 flex flex-row justify-end hidden">
    <div id="mobile-menu-main" class="w-full md:w-4/6 h-full bg-white flex flex-col shadow-lg">
      <div class="flex flex-row justify-end">
        <div id="mobile-menu-close" class="p-4">
          {{> "icons/cross"}}
        </div>
      </div>
      <div class="px-4">

        <div class="default-flex-row">
          {{#if @site.members_enabled}}
            {{^if @member}}
              <a href="{{@site.signup_url}}" class="btn w-full text-center">Subscribe</a>
            {{else}}
              <a href="#/portal/account" class="btn w-full text-center">Account</a>
            {{/if}}
          {{/if}}
          {{search}}
        </div>

        <div class="mt-8 text-center text-2xl">
          {{navigation}}
        </div>

      </div>
    </div>
  </div>
</div>
