@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-base {
    @apply px-4 py-2 rounded-md text-white bg-ghost-accent;
  }

  .btn-hover {
    @apply hover:brightness-105;
  }

  .btn {
    @apply btn-base btn-hover;
  }

  .navigation-item {
    @apply uppercase text-zinc-950 hover:text-zinc-600;

    &.nav-current {
      @apply text-zinc-600 underline underline-offset-4 decoration-2;
    }
  }
}

@layer utilities {
  .text-ghost-accent {
    color: var(--ghost-accent-color);
  }

  .bg-ghost-accent {
    background-color: var(--ghost-accent-color);
  }

  .default-flex-row {
    @apply flex flex-row items-center space-x-6;
  }

  .post-hidden {
    display: none;
  }

  .default-grid-item {
    @apply col-start-3 col-end-4;
  }

  .default-grid {
    @apply grid grid-cols-[1fr_1fr_minmax(100px,_80ch)_1fr_1fr];
  }
}

/* Defaults */

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

/* Post */

.post-content > * {
  @apply col-start-3 col-end-4;
}

/* Ghost Overrides */

.kg-width-wide {
  @apply col-start-2 col-end-5;
}

.kg-width-full {
  @apply col-start-1 col-end-6;
}

.kg-gallery-image {
  @apply cursor-pointer;
}

.kg-bookmark-icon {
  @apply m-0;
}

.kg-bookmark-thumbnail > img {
  @apply m-0;
}

.kg-embed-card {
  @apply aspect-w-16 aspect-h-9;
}
